section.about
  a(name="about")
  h2 about me

  .container
    a(href="/assets/docs/resume.pdf", target="_blank").cta#pdf
      i.fa.fa-file-text.fa-sm  | pdf resume

    .box#work
      .box-image
      .box-contents
        h3 experience:
        ul
          li
            span.lead Avanade
            span.sub-lead !{' Aug.'} 2015 - Present
            p UI Developer
          li
            span.lead Freelancing
            span.sub-lead !{' May'} 2015 - Present
            p Web designer and developer
          li
            span.lead Project Access Northwest
            span.sub-lead !{' Mar.'} 2013 - Feb. 2015
            p Team Lead Case Manager
            span.sub-lead !{' May'} 2010 - Mar. 2013
            p Case Manager II
          li
            span.lead Coalition of Community Health Clinics
            span.sub-lead !{' Jun.'} 2008 - Apr. 2010
            p Eligibility & Enrollment Specialist

    .box#edu
      .box-image
      .box-contents
        h3 education:
        ul
          li
            span.lead Coding Dojo
            span.sub-lead !{' Bellevue'}, WA - 2015
            p Full Stack Web Development
          li
            span.lead Portland State University
            span.sub-lead !{' Portland'}, OR - 2008
            p B.A. Community Health Education

    .box#highlights
      .box-image
      .box-contents
        h3 highlights:
        ul
          li Trained in the art of Full Stack Web Development, I only use my powers for good.
          li I consider myself a fully stacked Front-End developer. I have a deep passion for design, user experience and interface. You could say that, full-frontal development is kind of my thing.
          li I constantly strive to add new tools of the trade to my utility belt.
          li Life motto: Meet them where they are and lead them to where they are going.

    .box#facts
      .easter-egg.animated
      .box-image
      .box-contents
        h3 fun facts:
        ul
          li I live in Seattle with my wife and dog.
            a#heart.animated
              i.fa.fa-heart
            !{' '}Although, I often share my time in Portland, OR.
          li I'm not a fan of social-media but I do love me some Instagrams
          li Whisk(e)y and coffee are my poisons.
          li How do I feel about DJ-ing cats? Yeah, I'm into 'em.
